* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-section {
  width: 247px;
  margin: auto;
  color: #fff;
  margin-top: 32px;
}

.about-section h2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.about-section p {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.interests-section {
  width: 247px;
  margin: auto;
  color: #fff;
  margin-top: 27px;
}

.interests-section h2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.interests-section p {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
