* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 317px;
  display: block;
  margin: auto;
  padding-top: 44px;
}

.full-name,
.title,
.personal-site {
  text-align: center;
}

.full-name {
  color: #fff;
  margin-top: 21px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.title {
  margin-top: 6px;
  color: #f3bf99;
}

.personal-site {
  color: #fff;
  font-weight: 400;
  margin-top: 8px;
}

button {
  display: block;
  margin: auto;
  height: 34px;
  width: 247px;
  margin-top: 16px;
}

.flex-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.email-span {
  display: inline-block;
  vertical-align: middle;
}
.email-icon {
  padding-top: 0;
  width: 13px;
  height: 10px;
  vertical-align: middle;
}
